	* {box-sizing: border-box;
			}
			
			header {
				width:100%;
			}


			.logo {
			    color: #fff;
			    float: left;
			}

			#hero h2 {
			    font-size: 2em;
			    text-align: center;
			    color: #fff;
			    margin: 120px 0 90px;
			    font-weight: 600;
			}
			footer {
				width: 100%;
				background-color: #3d3d3e;
				padding:20px;
				text-align: center;
			}
			/* footer.title {} */ 
			.title__header{
				color:white;
				font-family: Arial Black, Arial, Sans-serif;
				font-size:36px;
				letter-spacing: 2px;
				font-weight:extrabold; 
			}

			#hero {
			    height: auto;
			    padding: 30px 0 50px;
			    background: url(./images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      			background-size: cover;
			}


			#benefits .container {
			    width: 82%;
			    margin: 0 auto 20px;
			    display: block;
			    background-color: white;
			}

			#benefits ul{
				padding: 20px ;
				padding-left: 40px

			}

			#benefits p, ul {
			    width: 600px;
			    font-size: 13px;
			    font-family: Arial Black, Arial, Sans-serif;
			    font-weight: light;
			    list-style: inherit;
			    padding-left: 20px;  
			}



			#testimonial {
				background:url(./images/testimonial_bg.jpg);

			}

			#testimonial blockquote {
				color: white;
				font-size: 18px;
				font-weight: 100;
    			font-style: italic;
    			text-align: center;
    			padding: 60px;
			    padding-right: 180px;
			    padding-left: 180px;
			}

			#testimonial span {
				font-weight:600;
				font-style: bold;
			}

			div{
				display: block;
			}
}

			.container {
				color:white;
				font-family: 
				font-weight: semibold;
				font-size: 24px;
				text-align: center;
				width: 100%;
				margin:0 auto;

			}
			.yellow {
			    background: #f9e42e;
			    color: #033048;
			}



			h3 {
				font-size: 30px;
				color: #033048;
			    font-size: 40px;
			    font-weight: 600;
			    margin-bottom: 40px;
			}

			h3 {
			    display: block;
			    font-size: 1.17em;
			    -webkit-margin-before: 1em;
			    -webkit-margin-after: 1em;
			    -webkit-margin-start: 0px;
			    -webkit-margin-end: 0px;
			    font-weight: bold;
			}

			#bottom {
				background:#f9e42e;
				padding-top: 20px;
    			padding-bottom: 20px;
			}

			.blue {
			    background: #033048;
			    color: #fff;
			    font-size: 24px;
			}

			.button {
			    border-radius: 5px;
			    font-weight: 800;
			    padding: 12px 0;
			    width: 280px;
			    font-size: 28px;
			    text-align: center;
			    display: block;
			    margin: 0 auto;
			}

			.title__footer {
				color:#f9e42e;
				font-family: Arial Black, Arial, Sans-serif;
				/*text-align: center; */
				margin-top: 30px; 
				margin-bottom: 30px
				font-size: 40px;
				letter-spacing: 2px;
			}
			.fab {
				color:whitesmoke;
				font-size:30px;
			}
			.footer-icon-wrapper {
				display: inline-block;
			}
		





